/* Style général pour le fond noir */
body:not(.index) {
  margin: 0;
  padding: 0;
  background-color: black; /* Fond noir pour toutes les pages sauf l'index */
  color: #00ff00;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

/* Style pour centrer tous les boutons sauf "Entrez dans la matrice" */
.button-container {
  display: flex;
  flex-direction: column; /* Empile les boutons les uns au-dessus des autres */
  justify-content: center;
  align-items: center;
  height: 100%; /* Remplir toute la hauteur disponible */
}

/* Style de base pour les boutons */
.button {
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  font-size: 1.5rem;
  color: #00ff00;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #00ff00;
  border-radius: 5px;
  background-color: black;
  box-shadow: 0 0 10px #00ff00;
  cursor: pointer;
}

.button:hover {
  background-color: #00ff00;
  color: black;
  box-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00;
}

/* Bouton "Entrez dans la matrice" reste en bas centré horizontalement */
.enter-button {
  font-size: 1.5rem;
  padding: 15px 30px;
  background-color: black;
  color: #00ff00;
  border: 2px solid #00ff00;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 0 10px #00ff00;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%); /* Centrer horizontalement */
}

.enter-button:hover {
  background-color: #00ff00;
  color: black;
  box-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00;
}

/* Media query pour les petits écrans (mobiles) */
@media screen and (max-width: 768px) {
  .enter-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
  }

  .spotify-player {
    width: 200px;
    height: 60px;
  }
}