/* Fond blanc pour toute la page */
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Arial, sans-serif;
}

/* Container principal */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Animation de rotation pour le logo */
.logo-container .logo {
  width: 150px;
  height: 150px;
  animation: rotate 5s infinite linear;
}

/* Animation du bouton */
.shop-button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  text-decoration: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  transition: transform 0.5s;
}

.shop-button:hover {
  transform: rotate(360deg);
}

/* Style pour le texte DBV */
.text-container p {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

/* Message en bas à droite */
.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #555;
}

/* Animation de rotation pour le logo */
@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
